#filter_sports {
    width:100%;
    padding: 10px;
}

#sport-list {
    margin:0;
    padding:0;
}

#sport-list li {
    list-style: none;
    padding:10px;
    margin: 5px 0;
    border: 1px solid crimson;
}

#header {
    border: #49b2b0;
    margin-top: inherit;
    alignment:"center";
}

#footer {
    border: #1a237e;
    margin-bottom: inherit;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
